{% extends 'base.html.twig' %}

{% block title %}New WorkshopReservation{% endblock %}

{% block body %}
    <h1>Create new WorkshopReservation</h1>

    {{ include('pages/admin/workshop_reservation/_form.html.twig') }}

    <a href="{{ path('admin_workshop_reservation_index') }}">back to list</a>
{% endblock %}
