{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="p-4">
        <h1 class="text-lg font-medium leading-6 text-gray-900">Créer un utilisateur</h1>

        <div class="my-4">
            {{ include('pages/admin/user/_form.html.twig') }}
        </div>

        <a class="inline-block text-slate-600 hover:text-slate-900 mt-4" href="{{ path('admin_user_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
