{% extends 'base.html.twig' %}

{% block title %}New Forum{% endblock %}

{% block body %}
    <div class="p-4">
        <h1 class="text-lg font-medium leading-6 text-gray-900">Créer un nouveau forum</h1>

        <div class="my-4">
            {{ include('pages/admin/forum/_form.html.twig') }}
        </div>

        <a class="inline-block text-slate-600 hover:text-slate-900 mt-4" href="{{ path('admin_forum_index') }}">back to list</a>
    </div>
{% endblock %}
