{% if job_skill.jobs | length == 0 %}
    <form method="post" action="{{ path('admin_job_skill_delete', {'id': job_skill.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_skill.id) }}">
        <button class="btn">Delete</button>
    </form>
{% else %}
    Impossible de supprimé car il est existe encore des relations
{% endif %}