<form method="post" action="{{ path('admin_survey_question_delete', {'id': survey_question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ survey_question.id) }}">
    <button class="btn">Delete</button>
</form>
